* {
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    list-style: none;
}

$bgcolor: #0A0A0F;
$greycolor: #E2E2E2;
$hovertext: #9130ab;
$blockcolor: #131313;
$bordercolor: #3D3D3D;
$bordercolorhover: #4B72C2;

body, html {
    background-color: $bgcolor;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}
