@import "base";

.border {
    width: 120px;
    height: 4px;
    background-color: $greycolor;
    margin: 40px auto;
}

.contactus_form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    input {
        margin-left: auto;
        margin-right: auto;
        width: 800px;
        height: 48px;
        padding-left: 20px;
        background: transparent;
        border: 1px solid $bordercolor;
        outline: none;

        &:hover {
            border: 1px solid $bordercolorhover;
        }

    }

    button {
        margin: 30px auto 20px auto;
        width: 200px;
        height: 48px;
        border: 1px solid #FFFFFF;
        background: transparent;
        color: #FFFFFF;
        cursor: pointer;

        &:hover {
            background-color: $bordercolorhover;
        }
    }
}
