@import "base.scss";

main {
    margin-top: 102px;
    display: flex;
    justify-content: space-between;

    .main__desc {
        h1 {
            width: 637px;
            height: 328px;
            font-weight: 600;
            font-size: 72px;
            line-height: 82px;
            letter-spacing: -2px;
        }

        p {
            margin-top: 20px;
            width: 687px;
            height: 108px;
            font-weight: 400;
            font-size: 24px;
            line-height: 36px;
            letter-spacing: 0.5px;
            color: $greycolor;
        }

        .btn-explore {
            padding: 14px 56px;
            background: linear-gradient(103.91deg, #9B51E0 21.01%, rgba(48, 129, 237, 0.8) 100%);
            border-radius: 16px;
            font-size: 18px;
        }

        .btn-create {
            margin-left: 20px;
            background-color: transparent;
            padding: 14px 56px;
            border: 1px solid #D7D7D7;
            border-radius: 16px;
            font-size: 18px;
        }
    }
    .main__nft {
        .main__nft-box {
            width: 504px;
            height: 650px;
            background: linear-gradient(169.44deg, rgba(58, 129, 191, 0.08) 1.85%, rgba(65, 48, 90, 0.08) 98.72%);
            backdrop-filter: blur(1110px);
            border-radius: 36px;

            .main__nft-box_img {
                padding: 32px 30px;

                img {
                    width: 447px;
                    height: 448px;
                }
            }

            .main__nft-box-title {
                display: flex;
                flex-direction: row;
                padding-left: 30px;

                p:last-child {
                    margin-left: 230px;
                }
            }

            .main__nft-box_content {
                display: flex;
                align-items: center;

                .main__nft-box_profile {
                    display: flex;
                    padding-left: 30px;

                    p {
                        margin-left: 20px;
                    }
                }
                .main__nft-box_favourite {
                    display: flex;
                    padding-left: 260px;

                    p {
                        margin-left: 12px;
                    }
                }
            }
        }
    }
}

.live_auction {
    margin-top: 90px;
    .live_auction-header {
        display: flex;
        justify-content: space-between;

        h2 {
            font-weight: 600;
            font-size: 28px;
            line-height: 36px;
        }

        p {
            font-weight: 600;
            font-size: 18px;
            line-height: 36px;
            color: $greycolor;
        }
    }

    .live_auction-cards {

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .live_auction-card {
            width: 316px;
            height: 456px;
            border-radius: 16px;
        }

        .live_auction-card-title {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid $greycolor;
        }

        .live_auction-card-desc {
            display: flex;
            justify-content: space-between;

            .live_auction_btn {
                margin-top: 10px;
                border: none;
                border-radius: 8px;
                background-color: transparent;
                line-height: 24px;
                color: $greycolor;
                cursor: pointer;
            }
        }
    }
}

.featured {
    margin-top: 40px;

    .featured-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        h4 {
            font-weight: 500;
            font-size: 28px;
            line-height: 36px;
        }
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 2fr));
        gap: 2rem;
        list-style-type: none;

        .card {
            position: relative;
            display: block;
            height: 450px;
            border-radius: calc(40 * 1px);
            overflow: hidden;
        }

        .card__image {
            width: 100%;
            height: auto;
        }

        .card__overlay {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1;
            border-radius: calc(40 * 1px);
            background-color: #FFFFFF;
            transform: translateY(100%);
            transition: .2s ease-in-out;
        }

        .card:hover .card__overlay {
            transform: translateY(0);
        }

        .card__header {
            position: relative;
            display: flex;
            align-items: center;
            gap: 2em;
            padding: 2em;
            border-radius: calc(40 * 1px) 0 0 0;
            background-color: #FFFFFF;
            transform: translateY(-100%);
            transition: .2s ease-in-out;
        }

        .card__arc {
            width: 80px;
            height: 80px;
            position: absolute;
            bottom: 100%;
            right: 0;
            z-index: 1;
        }

        .card__arc path {
            fill: #FFFFFF;
            d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
        }

        .card:hover .card__header {
            transform: translateY(0);
        }

        .card__thumb {
            flex-shrink: 0;
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }

        .card__title {
            font-size: 1em;
            margin: 0 0 .3em;
            color: #6A515E;
        }

        .card__tagline {
            display: block;
            margin: 1em 0;
            font-size: .8em;
            color: #D7BDCA;
        }

        .card__status {
            font-size: .8em;
            color: #D7BDCA;
        }

        .card__description {
            padding: 0 2em 2em;
            margin: 0;
            color: #D7BDCA;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            overflow: hidden;
        }

    }


    .featured-btn {
        margin-left: auto;
        margin-right: auto;

        button {
            border: 1px solid #AEAEB2;
            box-sizing: border-box;
            border-radius: 48px;
            background-color: transparent;
            padding: 12px 60px;
            cursor: pointer;
        }
    }
}

.contactus__title {
    font-size: 29px;
    justify-content: center;
    text-align: center;
}

.border-red-500 {
    border: 1px solid #ce1d1d !important;
}

.text-red-500 {
    color: #ce1d1d;
}

