* {
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

body, html {
    margin: 0;
    padding: 0;
    background-color: #111;
}