* {
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  font-family: "Poppins", sans-serif;
  color: #fff;
  list-style: none;
}

body, html {
  background-color: #0A0A0F;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

@media all and (max-width: 1280px) and (orientation: landscape) {
  .wrapper {
    max-width: 1140px;
    margin: 0 auto;
  }
}
@media all and (max-width: 960px) and (orientation: landscape) {
  .wrapper {
    max-width: 800px;
    margin: 0 auto;
  }
}
header {
  display: flex;
  align-items: center;
  padding: 20px 0;
}
header .logo {
  margin-right: auto;
  color: linear-gradient(93.51deg, #9B51E0 2.84%, #3081ED 99.18%);
  font-size: 22px;
  text-transform: uppercase;
}
header nav {
  margin-left: auto;
  margin-right: auto;
}
header nav .nav__links {
  list-style: none;
  display: flex;
}
header nav .nav__links a {
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #BCBCBC;
}
header nav .nav__links a:hover {
  color: #b654d2;
}
header nav .nav__links li {
  padding: 0 20px;
}
header .btn-reg {
  background-color: transparent;
  padding: 12px 36px;
  border: 1px solid #D7D7D7;
  border-radius: 10px;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #BCBCBC;
}
header .btn-reg:hover {
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}
header .btn-login {
  margin-left: 50px;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #BCBCBC;
}
header .btn-login:hover {
  color: #b654d2;
}
